.customHeaderMenuButton {
    float: left;
    margin: 0 0 0 3px;
}

.customHeaderLabel {
    float: left;
    margin: 0 0 0 6px;
}

.customSortDownLabel {
    float: left;
    margin: 0 0 0 6px;
}

.customSortUpLabel {
    float: left;
    margin: 0 0 0 6px;
}

.customSortRemoveLabel {
    float: left;
    margin: 0 0 0 3px;
    font-size: 11px;
}

.active {
    color: red;
}
